.navAccueil {
  background-color: rgba(0,0,0,.2);
  margin:30px auto;
  width : 100%;
  li{
    font-size : 20px;
  }
  div:first-child{
    margin:0 auto;
    width : 50%;
  }
  a:hover{
   color:black;
  }
  a:active{
    color:black !important;
  }
}
